.main-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 28px;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    font-family: Montserrat-bold;
    font-size: 25px;
    line-height: 30.48px;
    color:#101010 ;
    text-decoration: none;
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0;
}

.link {
    list-style: none;
    padding: 0;
}

.cart-icon-wrapper {
    position: relative;
}

.cart-items-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: 17.4px;
    height: 17.4px;
    background: #FFA542;
    color: #fff;
    font-family: 'Montserrat-medium';
}