html,
body {
  height: 100%;
  background: #EAEAEA;

}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat-black';
  src: url('./assets/fonts/Montserrat-Black.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-semibold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('opentype');
}
